.gross {
    border-bottom: 1.5px solid black;
    margin: 0px;
}

.theaters {
    border-bottom: 2px solid black;
    border-top: 0px;
}

/* ------------------*/
span {
    background-color: tomato;
}

.class td {
    border-bottom: 1.5px solid black;
}

[name] td {
    border-bottom: 1.5px solid black;
}
/* ------------------*/

.body td {
    border-top: 2px solid black !important;
    border-bottom: 4px double black !important;
}

table {
    margin-bottom: 1em;
    border-collapse: collapse;
}

a:link, a:hover, a:visited, a:active {
    text-decoration-line: none;
}