.blue {
    background-color: rgb(0, 0, 100, 0.25) !important;
    font-size: 24px;
    font-weight: bold;
    line-height: 150%;
    text-indent: 2em;
    text-align: center;
    text-transform: uppercase;
    
}

[name] {
    color: blue;
    font-size: 75%;
    text-decoration: line-through;
    text-align: right;
}

p,div {
    color: rgb(0, 100, 0);
}

/*All elements*/
* {
    color: black
}